# .gitlab-ci.yml
build_frontend:
  stage: build
  image: node:20
  script:
    - cd frontend
    - npm ci
    - npm run build
    - mv dist ../public
  artifacts:
    paths:
      - public
  only:
    - main
